@*@model DayViewModel*@

<div class="text-center">
    <H3>Please Pick a Tour Time</H3>
    <form>
        <table>
            <thead>
                <tr>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Enumerable.Range(8, 13))
                {
                    <tr>
                        @try
                        {
                            @*<td>Model.Monday[x]</td>*@     
                        }
                        catch
                        {
                            <td>Unavailable</td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </form>

</div>