@model ViewAppointmentsViewModel


<h2>Appointments</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name of Group</th>
            <th>Size of Group</th>
            <th>Email Address</th>
            <th>Time</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var x in Model.SignUps)
        {
        <tr>
            <td class="text-left">@x.GroupName</td>
            <td class="text-center">@x.GroupSize</td>
            <td class="text-right">@x.EmailAddress</td>

        </tr>
        }
    </tbody>
    <tfoot>
      
    </tfoot>

</table>