


<!--<h2>Your Cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name of Group</th>
            <th>Size of Group</th>
            <th>Email Address</th>
            <th>Time</th>
        </tr>

    </thead>
    <tbody>
        @*@foreach (Project-1.Models.SignUp x in Model)
        {
        <tr>
            <td class="text-left">@x.GroupName</td>
            <td class="text-center">@x.GroupSize</td>
            <td class="text-right">@x.EmailAddress</td>
            <td class="text-right">@x.AppointmentTime</td>
        </tr>
        }*@
    </tbody>
    <tfoot>
      
    </tfoot>

</table>